
<% if(typeof data != 'undefined') { %>
    <div id="main-box">

        <form id="form-content" action="/dash/newTask/upload" method="POST" enctype="multipart/form-data">
            
            <img  id="main-img" src="/image/<%=data.img%>" alt="main-Img" onclick="imgClick()" height="400"> 
            <input name="img"  id="upload" type="file" accept="image/*"  onchange="onFileSelected(event)">
            
            <div class="tagBox">
                <div class="tagCont">

                    <script>
                            newArr = '<%- contentTags%>';
                        if(newArr) {
                            tagArray = newArr.split(',');
                        }
                     </script>

                    <% if(typeof contentTags !== 'undefined') { %>
                        <% contentTags.forEach(t => { %>    
                            <div class="tag" data-tag="<%=t%>" style="display: flex;">
                                <span><%=t%></span>
                                <span class="material-icons" data-item="<%=t%>" onclick="closeTag(event)">close</span>
                            </div>
                        <% }) %>
                    <% } %> 
                    <input class="main-input" type="text" >
                </div>
            </div>
            <textarea name="heading" id="heading" ><%=data.header%></textarea>
            <textarea name="clickbait" id="clickbait"><%= data.clickbait%></textarea> 
            <textarea name="article" id="article" cols="50" rows="20"><%=data.article%></textarea>
            
            <div id="buttons">
                <button onclick="updateContent(event, value)" id="publish" value="<%= data.content_id%>">Publish</button>
                <button onclick="articleCancled(event)" id="cancelArticle" >Cancel</button>
            </div>
        </form>
    
    </div>
<% } %>

<% if(typeof data == 'undefined') { %>
    <script>
        tagArray = [];
    </script>
    <div id="main-box">

        <form id="form-content" action="/dash/newTask/upload" method="POST" enctype="multipart/form-data">
            
            <img  id="main-img" src="" alt="main-Img" onclick="imgClick()" height="400"> 
            <input name="img" id="upload" type="file" accept="image/*"  onchange="onFileSelected(event)">

            <div class="tagBox">
                <div class="tagCont">

                    <input class="main-input" type="text" >
                </div>
            </div>
            
            <textarea name="heading" id="heading" onclick="headingInput()" >You're header goes here...</textarea>
            <textarea name="clickbait" id="clickbait">clickbait goes here</textarea>
            <textarea name="article" id="article" cols="50" rows="20">Your text goes here...</textarea>
            
            <div id="buttons">
                <button onclick="savingData(event)" id="publish" >Publish</button>
                <button onclick="articleCancled(event)" id="cancelArticle" >Cancel</button>
            </div>
        </form>
    
    </div>
<% } %>



