<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Acount</title>
</head>
<body>

    <form action="/login/create" method="post">
        <%- include('partials/messageError.ejs') %>
        <p>name</p>
        <input name="name" type="text" value="<%= typeof name != 'undefined' ? name : '' %>">
        <p>lastName</p>
        <input name="lastName" type="text" value="<%= typeof lastName != 'undefined' ? lastName : '' %>">
        <p>E-mail</p>
        <input name="mail" type="text" value="<%= typeof mail != 'undefined' ? mail : '' %>">
        <p>password</p>
        <input name="password" type="text" value="<%= typeof password != 'undefined' ? password : '' %>">
        <p>confrme password</p>
        <input name="password2" type="text" value="<%= typeof password2 != 'undefined' ? password2 : '' %>">
        <p>about</p>
        <textarea name="about" id="about" cols="30" rows="10"><%= typeof about != 'undefined' ? about : '' %></textarea>
        
        <button type="submit">enter</button>
    </form>
    
</body>
</html>