<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
    </script>
    <title>Home</title>
</head>
<body>

    <%-include('../partials/main/header')%>
    

    <div id="dark-backgrund" onclick="clickDarkBack()"></div>
    <div id="main-article">

        <div id="leftFlank">
            <% if(typeof data[0] == 'object'){ %>
            <div id="topLImg"  style="background-image: url('image/<%=data[0].img%>'); background-size: cover; background-repeat: no-repeat; background-position: center;">
                <div class="dark-back">
                    <div class="artc-info ">
                        <% if(data[0].tag !== null) { %>
                            <% JSON.parse(data[0].tag).forEach(t => { %>
                                <p href=""><%= t%></p>
                            <% })  %>
                        <% } %>
                        
                        <h1><%= data[0].header %></h1>
                    </div>
                </div>
            </div>
            <% } else { %> 
            <div id="topLImg"  style="background-image: url(''); background-size: cover; background-repeat: no-repeat; background-position: center;">
                <div class="dark-back">
                    <div class="artc-info ">
                        <p>tag</p>
                        <h1>None</h1>
                    </div>
                </div>
            </div>
                <% } %>

            <% if(typeof data[1] == 'object'){ %>
            <div id="downLImg" style="background-image: url('image/<%=data[1].img%>'); background-size: cover; background-repeat: no-repeat; background-position: center;">
                <div class="dark-back">
                    <div class="artc-info rightTopAndleftBottom">
                        <% if(data[1].tag !== null) { %>
                            <% JSON.parse(data[1].tag).forEach(t => { %>
                                <p href=""><%= t%></p>
                            <% })  %>
                        <% } %>
                        <h1><%= data[1].header %></h1>
                    </div>
                </div>
            </div>
            <% } else { %> 
            <div id="downLImg" style="background-image: url(''); background-size: cover; background-repeat: no-repeat; background-position: center;">
                <div class="dark-back">
                    <div class="artc-info rightTopAndleftBottom">
                        <p>tag</p>
                        <h1>None</h1>
                    </div>
                </div>
            </div>
            <% } %>    
        </div>
        <div id="midleFlank">

            <% if(typeof data[2] == 'object'){ %>
            <div id="topLeft"style="background-image: url('image/<%=data[2].img%>'); background-size: cover; background-repeat: no-repeat; background-position: center;">
                <div class="dark-back">
                    <div class="artc-info midInfo">
                        <% if(data[2].tag !== null) { %>
                            <% JSON.parse(data[2].tag).forEach(t => { %>
                                <p href=""><%= t%></p>
                            <% })  %>
                        <% } %>
                        <h1><%= data[2].header %></h1>
                    </div>
                </div>
            </div>

           <% } else { %>
            <div id="topLeft"style="background-image: url(''); background-size: cover; background-repeat: no-repeat; background-position: center;">
                <div class="dark-back">
                    <div class="artc-info midInfo">
                        <p>tag</p>
                        <h1>none</h1>
                    </div>
                </div>
            </div>
            <% } %>

            <% if(typeof data[3] == 'object'){ %>
            <div id="topRight" style="background-image: url('image/<%=data[3].img%>'); background-size: cover; background-repeat: no-repeat; background-position: center;">
                <div class="dark-back">
                    <div class="artc-info midInfo" >
                        <% if(data[3].tag !== null) { %>
                            <% JSON.parse(data[3].tag).forEach(t => { %>
                                <p href=""><%= t%></p>
                            <% })  %>
                        <% } %>
                        <h1><%= data[3].header %></h1>
                    </div>
                </div>
            </div>

            <% } else { %>
            <div id="topRight" style="background-image: url(''); background-size: cover; background-repeat: no-repeat; background-position: center;">
                <div class="dark-back">
                    <div class="artc-info midInfo" >
                        <p>tag</p>
                        <h1>none</h1>
                    </div>
                </div>
            </div>
             <% } %>   

             <% if(typeof data[4] == 'object'){ %>
            <div id="downLeft" style="background-image: url('image/<%=data[4].img%>'); background-size: cover; background-repeat: no-repeat; background-position: center;">
                <div class="dark-back">
                    <div class="artc-info midInfo">
                        <% if(data[4].tag !== null) { %>
                            <% JSON.parse(data[4].tag).forEach(t => { %>
                                <p href=""><%= t%></p>
                            <% })  %>
                        <% } %>
                        <h1><%= data[4].header%></h1>
                    </div>
                </div>
            </div>
            <% } else { %>
            <div id="downLeft" style="background-image: url(''); background-size: cover; background-repeat: no-repeat; background-position: center;">
                <div class="dark-back">
                    <div class="artc-info midInfo">
                        <p>tag</p>
                        <h1>none</h1>
                    </div>
                </div>
            </div>

            <% } %>
            <% if(typeof data[5] == 'object'){ %>
            <div id="downRight" style="background-image: url('image/<%=data[5].img%>'); background-size: cover; background-repeat: no-repeat; background-position: center;">
                <div class="dark-back">
                    <div class="artc-info midInfo" >
                        <% if(data[5].tag !== null) { %>
                            <% JSON.parse(data[5].tag).forEach(t => { %>
                                <p href=""><%= t%></p>
                            <% })  %>
                        <% } %>
                        <h1><%= data[5].header %></h1>
                    </div>
                </div>
            </div>

            <% } else { %> 

            <div id="downRight" style="background-image: url(''); background-size: cover; background-repeat: no-repeat; background-position: center;">
                <div class="dark-back">
                    <div class="artc-info midInfo" >
                        <p>tag</p>
                        <h1>none</h1>
                    </div>
                </div>
            </div> 

            <% } %>
        </div>
        <div id="rightFlank">

            <% if(typeof data[6] == 'object'){ %>
            <div id="topRImg"  style="background-image: url('image/<%=data[6].img%>'); background-size: cover; background-repeat: no-repeat; background-position: center;">
                <div class="dark-back">
                    <div class="artc-info rightTopAndleftBottom" >
                        <% if(data[6].tag !== null) { %>
                            <% JSON.parse(data[6].tag).forEach(t => { %>
                                <p href=""><%= t%></p>
                            <% })  %>
                        <% } %>
                        <h1><%= data[6].header %></h1>
                    </div>
                </div>
            </div>

            <% } else { %>
                <div id="topRImg"  style="background-image: url(''); background-size: cover; background-repeat: no-repeat; background-position: center;">
                    <div class="dark-back">
                        <div class="artc-info rightTopAndleftBottom" >
                            <p>tag</p>
                            <h1>none</h1>
                        </div>
                    </div>
                </div>
            <% } %>

            <% if(typeof data[7] == 'object'){ %>
            <div id="downRImg" style="background-image: url('image/<%=data[7].img%>'); background-size: cover; background-repeat: no-repeat; background-position: center;">
                <div class="dark-back">
                    <div class="artc-info">
                        <% if(data[7].tag !== null) { %>
                            <% JSON.parse(data[7].tag).forEach(t => { %>
                                <p href=""><%= t%></p>
                            <% })  %>
                        <% } %>
                        <h1><%= data[7].header %></h1>
                    </div>
                </div>
            </div>

            <% } else { %>
                <div id="downRImg" style="background-image: url(''); background-size: cover; background-repeat: no-repeat; background-position: center;">
                    <div class="dark-back">
                        <div class="artc-info">
                            <p>tag</p>
                            <h1>none</h1>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>

    <div id="contents">
        
        <%-include('../partials/main/mainContent')%>
        
        <div class="right-content">
            <div id="side-article">
                <div id="text-side-article">
                    <h1>Most viewd pages</h1>
                    <div></div>
                </div>
    
                <div id="side-content">
                    <div><img src="/image/pexels-kristina-paukshtite-1591252 (1).jpg" alt="aaa" width="280px" height="170px"></div>
                    <p>text about imgage</p>
                </div>
            </div>  
        </div>


    </div>

    <%-include('../partials/main/pageNav')%>

    <%-include('../partials/main/footer')%>
    

    <script src="js/home.js"></script>
    <script src="js/mainHeader.js"></script>
</body>
</html>